
*{
    padding: 0;
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
}
.background{
    background-color: white;
    padding-top: 1px;
    height: 100vh;
}
.title{
    color: black;
    font-size: 40px;
    text-align: center;
    margin-top: 10%;
}
.display{
    color: black;
    margin-bottom: 1em;
    margin-top: 1em;
    text-align: center;
    font-size: 25px;
}
/*hide ui elements*/
.hide{
    display: none;
}

.container{
    max-width: 300px;
    margin:0 auto;
    display: grid;
    grid-template-columns: 33% 33% 33%;
    grid-template-rows: 33% 33% 33%;

}
.tile{
    border: 1px solid black;
    min-width: 100px;
    min-height: 100px;
    cursor: pointer;
    justify-content: center;
    display: flex;
    align-items: center;
    font-size: 45px;
}
.controls {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin-top: 1em;
}
.controls button{
    color: white;
    padding: 8px;
    border-radius: 8px;
    border: none;
    font-size: 20px;
    margin-left: 1em;
    cursor: pointer;
}
.restart{
    background-color: #498AFB;

}
#reset{
    background-color: #ff0000;
}
.front{
    text-align: center;
    margin-top: 10em;
}
.start{
    color: white;
    background-color: #ff0000;
    padding: 10px;
    border-radius: 15px;
    border: none;
    font-size: 20px;
    margin-left: 1em;
    cursor: pointer;
}